<ion-content class="componente">
<br>
<br>
<br>
<br>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card class="card" (click)="registro()">
        <br>
        <ion-icon class="icono" name="document-text-outline"></ion-icon>
        <p class="custom-text">REGISTRO</p>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="card" (click)="listado()">
        <br>
        <ion-icon class="icono" name="apps"></ion-icon>
        <p class="custom-text">LISTA</p>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card class="card" (click)="camara()">
        <br>
        <ion-icon class="icono" name="images"></ion-icon>
        <p class="custom-text">CAMARA</p>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="card" (click)="reprod()">
        <br>
        <ion-icon class="icono" name="podium"></ion-icon>
        <p class="custom-text">REPRODUCTOR</p>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<img style="width:400px;" src="assets/Captura4.PNG">